@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Fredoka:wght@300;400&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans&family=Poppins:wght@100;300;400&family=Roboto+Condensed&family=Roboto:wght@300&family=Signika:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("../assets/bg.png");
    background-size: cover;
}

.heading{
    color: rgb(90, 37, 192);
    text-align: center;
    top: 20%;
    margin-top: 7vh;
    font-size: 4rem;
}

.play{
    display: flex;
    align-items: center;
}

.play-text{
    color: white;
    margin-left: 20px;
    font-weight: bolder;
    font-size: 180%;
}

.play-button{
    height: 45px;
}

.flex{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}

.play:hover{
    cursor: pointer;
}